 :root{
    --color:#222222;
    --background-color: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    font-size:20px;
    font-family:  "Montserrat", sans-serif;
    font-weight: 400;
  }
body {
   font-size: 20px;
  font-weight: 400;
  font-family:  "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #1C1C21;
  overflow-x: hidden !important;
  max-width: 100%;

}
ol, ul {
	list-style: none;
    padding:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
h1{
     font-size:  3.815rem;
     font-family: "Chakra Petch", sans-serif ;
}
h2{
    	font-size: 3.052rem;
        font-family:"Chakra Petch", sans-serif;
    } 
h3{	
    font-size: 2.441rem;
    font-family:"Chakra Petch", sans-serif;
	}
h4{
    	font-size: 1.953rem;
        font-family: "Chakra Petch", sans-serif;
    } 
h5{
    font-size: 1.563rem;
    font-family:"Chakra Petch", sans-serif;	
}
h6{    
        font-size: 1.25rem;
        font-weight: 500;
        font-family: "Chakra Petch", sans-serif;
    } 
p{
    	font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
        color: #1C1C21;
    } 
small{
    	font-size: 0.8rem;
    }
    
    /*Css of own  */

.name{
    padding: 70px 0 0 100px;
    max-width: 100%;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    gap:50px; 
}
.nav{
    display: flex;

}
.Menu{
    overflow-x: hidden;
    z-index:5;
    position: fixed;
    /* right: 50px; */
    border-radius: 10%;
    background-color: white;
    padding: 10px;
    border:none;
}
.drops{
    margin: 0px;
    z-index:6 !important;
    position:fixed !important;
    top:0px !important;
    min-width: 50px !important;
    width: 6%;
    min-height:100vh;
    /* height: 100vh; */ 
    background-color: transparent;
    transform: none !important;
}
.drops span {
    width: 65px;
    /* height:112px; */
    text-transform:uppercase;
    writing-mode: vertical-lr;
    position: relative !important ;
}

.bars{
    min-width:180px;
    display:flex;
    flex-direction:column ;
    /* height: 100%; */
} 

.dropdown-item{
    border: 2px solid black;
    padding: 10px 10px; 
    font-weight: 500;
    color: #dc3630;
    font-size: 14px;
    
}
.ove{
    padding-top:8px;
}
.lov{
    padding-top:16px;
}
.dropdown-item:hover{
    color:color !important;
    background-color: #c3bfba!important; 

}

.btn-close-small {
    font-size: 12px; /* Adjust the font size */
    width: 20px; /* Adjust the button width */
    height: 20px; /* Adjust the button height */
    padding: 0; /* Remove default padding */
    line-height: 1; /* Adjust line height */
}

/* .btn-close-small::before {
    font-size: 16px; /* Adjust the size of the close icon /*
} */

.container1{
    display:flex;
    margin: 110px 30px 70px 30px;
    justify-content: space-evenly;
}
.container1 .title{
    max-width: 100%;
    width: 55%;
    margin:0 0 60px 0;
}
 .topic{
    padding-bottom: 40px;
}
 .me img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: none;  
    display:block;
    max-width: 100%;
}

 /* css for section2 */

.section2{
    padding:100px 0 45px 0;
    background-color: #EDEEF1;
    color: #1C1C21;
}
.wrapper{
    width:90%;
    margin: 0 auto;
}
.pic{
    padding:0 80px;
}
.pic h2{
    margin-bottom: 75px;
}

 .quotes li{
    background-color:var(--background-color) ;
    color: var(--color);
    border-radius: 16px;
    margin-bottom: 80px;
    /* height: 540px;
    */
}

 .quotes ul{
    width:46%;
 }
.quotes {
    
    /* margin: 80px 100px 0 100px; */
    display: flex;
    height: auto;
}
.side1{
    margin:0 8% 0 0;
    

}

#sideli{
    margin:130px 0 80px 0;
}
li img{
    object-fit: cover;
    width:100%;
    height:350px;
    border-radius: 16px 16px 0 0;   
 }
 li .experiencedetails{
   height:auto;
   color: rgb(28, 28, 33);
   font-size:18px;
 }
 .experiencedetails h6{
     margin:0  0  5px 0;
     font-size:13px;
     text-transform: uppercase;
     font-weight: 600;
    
 }
 
 
 /* css for section3 */
 .section3{
    background-color:#111115;
    color: #fff;
 }
.section3 .con{

    width:100%;
    display:flex;
    /* flex-wrap: wrap; */
    padding:135px 135px 85px 135px;
    column-gap: 70px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:75%;
    column-gap:100px;
  
}
.expertise{
    width:25%;
    text-align:end;
}
.listi{
    display:block;
}
.listi li{
    /* font-size: 20px; */
    /* width:330px; */
    display:flex;
    flex-wrap:wrap;
    padding:50px;
    padding-left:0px;
    border-top:0.2px solid white;
   
}
.listi li h6{
    font-size: 20px;

}
.listi li h6 span{
    margin:20px;
}

 /* css for section4  */
.section4{
    display:block;
    background-color:#EDEEF1;
}
 .testimonials h2{
    padding: 80px 0 0 145px;
} 

.section4 .whole{
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top:60px;
}
.section4 .whole ul{
   margin: 0 auto 0 auto;
    display: block;
    width: 40%;
}

.box1{
padding: 50px;
background-color: #111115;
display: flex;
justify-content: center;
gap:30px;
flex-wrap:wrap;
align-items:center;
}
.box1 img{
    filter: grayscale(4);
    height:120px;
    width:120px;
}

.section4 .whole ul li{
    /* height:400px;  */
    display: flex;
    border: none;
    padding:50px;
    border-radius: 16px;
    margin-bottom: 120px;
 
}
blockquote p{
    font-size:20px !important;
}
 .card p{
     margin:0;
     font-size:14px;
     line-height:30px;
 }
 .card::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 20%;
    transform: translateX(-100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 50px 0 50px;
    border-color: white transparent transparent transparent; 
    
}  
 .section4  .down{
      margin-top:150px; 
 }
 #success-stories {
    background-color:#dedede;
    padding: 60px 20px 100px 20px;
    border-bottom:rgb(21, 20, 20);
  }
  
  #success-stories .container {
    gap:100px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex; 
    /* margin: 0 4rem; */
    padding: 0 20px;
  }
  
  #success-stories h2 {
    padding: 10px 0 50px 180px;
    color: #333;
  }
  
  .success-story {
    width: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
   
  .success-story h4 {
    margin-bottom: 15px;
    color: #2a2a2a;
  }
  
  .success-story p {

    line-height: 1.6;
    margin-bottom: 10px;
    color: #555;
  }
  
  .success-story p strong {
    color: #333;
  }
  
 /* css for section5 */
 .section5{
     background-color: #111115;
     padding: 20px 70px 0px 100px;
 }

.info{
    padding: 30px;
    justify-content: space-between;
    display:flex;
}
.section5 ul{
    display: flex;
    gap: 30px;
    
}
.section5 li a:hover{
    transition: all 0.1s ease;
    border-bottom:2px solid white;

}
.section5 li a{
    color:#fff;
    text-decoration: none;
}


/* Media */
@media (min-width:200px) and (max-width:768px) {
*{
        font-size: 12px ;
    }
    p{
    	font-size: 12px;
        font-weight: 400;
        color: #1C1C21;
    } 
    
    .Menu{
        z-index:5;
        position: fixed;
        /* right: 50px; */
        border-radius: 10%;
        background-color: white;
        padding: 7px;
        border:none;
    }
    .drops{
        
        width: 9%;
        background-color: white;
        
    }
    .drops span {
        width: 45px;
        height:100px;
    }
    .bars{
        min-width:180px;
        display:flex;
        flex-direction:column ;
        height: 100%;
    } 
    
    .dropdown-item{
       
        padding: 22px 18px;
        font-weight: 500;
        color: #dc3630;
        font-size: 10px;
        
    }
    .ove{
        padding-top:5px;
    }
    .lov{
        padding-top:12px;
    }
    .dropdown-item:hover{
        color:color !important;
        background-color: #c3bfba!important; 
    
    }
    
    .btn-close-small {
        font-size: 12px; /* Adjust the font size */
        width: 20px; /* Adjust the button width */
        height: 20px; /* Adjust the button height */
        padding: 0; /* Remove default padding */
        line-height: 1; /* Adjust line height */
    }
    
    
     .container1 {
        margin:auto;
        flex-direction:column-reverse;
        align-items: center;
        align-content: none;
       
     }
     .container1 .title{
      width:80%;
      
     }
     .me {
         margin-right: 7px;
         margin-bottom:20px;
     }
    .name {
        text-align:center;
        /* margin:50px 0 0 50px; */
        padding:20px 55px 20px 10px;
        width:100%;
    }
 .topic h1{
    padding:none;  
    width:100%; 
}
.section2{
    padding: 50px 30px 20px 30px;
}

#sideli{
    margin:0 0 40px 0;
}
.pic{
    padding:0px;   
}
 .pic h2{

    margin-bottom: 45px; 
 }
.quotes{
    flex-direction: column;
}
.quotes ul{
    width:100%;
}
.quotes li{
    
    margin-bottom: 40px;
}
li img{
    height: 250px;
}

.section3{
    padding: 50px 0 20px 0;
}
.section3 .con{
    flex-direction: column;
    padding:25px 70px;
    flex-wrap: wrap;
    /* margin:20px;*/
}
.list{
    flex-direction: column;
    width:100%;
}
.listi li{
    padding: 30px 30px 30px 0;
}
.listi li h6 {
    font-size:18px;
}
.box1{
    padding:10px;
    gap:6px;

}
   .box1 img{
       height:50px;
       width: 50px;
   }

#success-stories{
    padding: 30px 0 0 0;

}
#success-stories h2{
    padding: 20px 63px;
}
#success-stories .container {
    flex-direction: column;
    gap:40px;
    padding: 20px;
     /* margin: 0px; */
      }

      .success-story{
          width:80%;
          margin: auto;
      }
  
  .section4 .whole{
      flex-direction: column;
      margin: 0 65px;
  }
  .section4 .whole ul{
     width: 100%;
}
.section4 .whole ul li{
    padding:30px;
    margin-bottom: 60px;
}

.card::after {
    content: '';
    position: absolute;
    bottom: -34px;
    left: 32%;
    transform: translateX(-100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 50px 0 50px;
    border-color: white transparent transparent transparent; 
    
}  
blockquote p{
    font-size:14px !important;
}
.testimonials h2{
    padding: 58px 0 15px 70px;
} 
.info p{
    display: none;
} 
}

/* css for max width */
@media(min-width:768px) and (max-width:1100px){
    .container1 {
        margin:auto;
        flex-direction:column-reverse;
        align-items: center;
        align-content: none;
       
     }
     .container1 .title{
      width:80%;
      
     }
     .me {
         margin-right: 7px;
         margin-bottom:20px;
     }
     .name {
        text-align:center;
        padding:42px 55px 20px 35px;
        width:100%;
    }
    .dropdown-item{
       
        padding: 22px 18px;
        font-size: 14px;
        
    }
    .drops{
        
        width: 9%;
        background-color: white;
        
    }
    .drops span {
        width: 65px;
        height:16%;
    }
    .ove{
        padding-top:5px;
    }
    .lov{
        padding-top:10px;
    }
    .success-story{
        width:100%;
        height:auto;
    }
    .section3 .con{
        flex-direction: column;
        padding:25px;
        flex-wrap: wrap;
    }

    .section4 .whole{
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }
    .section4 .whole ul{
       width: 80%;
       margin: auto;
  }
  
    .card::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 18%;
        transform: translateX(-100%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 55px 50px 0 50px;
        border-color: white transparent transparent transparent; 
} 

.section3 .con{
    
    padding:60px 100px;

}
}

